<html>
  <head>
    <meta charset="UTF-8">
    <title>Cypher Results</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
  </head>
  
  <body>
    <h1>Caesar Cypher Results</h1>
    <h2><%= @encoded %></h2>
  </body>
</html>